<app-header> </app-header>
<div style="display: flex; justify-content: space-between">
  <div class="">
    <h2 class="">{{ capitalizeFirstLetter(getLastSegment()) }}</h2>
  </div>
  <div>
    <h2 class="">
      Nous sommes le {{ dateActuelle | date : "dd/MM/yyyy" }} à
      {{ dateActuelle | date : "hh:mm:ss" }}
    </h2>
  </div>
</div>
<hr style="margin-top: -12px" />
@if (isRouteDashboard()===true) {
<app-content></app-content>
} @if (isRouteSettings()===true) {
<app-settings></app-settings>
} @if (isRouteStatus()===true) {
<app-status></app-status>
} @if (isRouteEvenements()===true) {
<app-evenements></app-evenements>
} @if (isRouteSociaux()===true) {
<app-sociaux></app-sociaux>
} @if (isRouteUsers()===true) {
<app-list-users></app-list-users>
} @if (isRouteAdministrateur()===true) {
<app-administrateur></app-administrateur>
} @if (isRouteUsersBan()===true) {
<app-users-banni></app-users-banni>
} @if (isRouteRoleUsers()===true) {
<app-role-users></app-role-users>
} @if (isRouteCheckAnnounces()===true) {
<app-check-announces></app-check-announces>
} @if (isRoutePratique()===true) {
<app-pratiques></app-pratiques>
} @if (isRouteLogs()===true) {
<app-logs></app-logs>
}@if (isRouteAdminContact()===true) {
<app-admin-contact></app-admin-contact>
}
