.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.block-announce {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position:relative;
    width: 450px;
    height: 300px;
    background-size: 100% 100%;
    background-position: center;
    transition: all 0.5s ease-in-out;
     
    &:hover{
    background-position: center;
    background-size: 120% 120%;
    transition: all 0.5s ease-in-out; 
    cursor:pointer;
    .announce-infos{
        background-color: #ff004c;
        transition: all 0.5s ease-in-out;
        color:white;
        h1{
            color:#fff;
            padding-left:10px;
            transition: all 0.5s ease-in-out;
            font-size:25px;
            margin-top:18px;
        }
        h2{
            color:#ff004c;
            padding-left:10px;
            transition: all 0.5s ease-in-out;}
            .city{
                bottom:22px;
            }
    } 
    .city{
        color:white;
        transition: all 0.5s ease-in-out;
    }        
    }
    .announce-infos{
        position:absolute;
        bottom:0;
        width:100%;
        background-color: rgb(238, 238, 238);
        color:#3b3b3b;
        padding:10px 15px 15px;
        transition: all 0.5s ease-in-out;
        h1{
        text-transform: uppercase;
        font-size:16px;
        margin:0; padding:0;
        color:#ff004c;
        transition: all 0.5s ease-in-out;
        }
        h2{
        font-size:14px;
        margin:0; padding:0;
        line-height: 10px;
        padding-bottom: 5px;
        transition: all 0.5s ease-in-out;
        color:#3b3b3b
        }
        
    }
    .city{
            position:absolute;
            bottom:10px;right:5px;
            color:#3b3b3b;
            transition: all 0.5s ease-in-out;
        }
    
    

}



p {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.checkboxes-filters{
    display: flex;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 290px;
    background-color:black;
    position: relative;
    
    h1{
        color: white;
        font-size: 30px;
    }
    .absolute-title{
        position:absolute;
        top:50%;
        left:50;
        transform: translate(0, -50%);
        text-align: center;
        width:100%;
        font-weight: normal;
    }
    .banner-inside{
        background-image: url("../../../assets/images/banner-announces.jpg");
        opacity: 0.3;
    background-size: cover;
    background-position: center;
    width:100%;
    height:100%;
    }
}

.quick-search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    input{
        width: 300px;
        height: 40px;
        border-radius: 4px;
        border: 1px solid #ccc;
        margin-right: 10px;
        padding:0 10px;
    }
    button{
        height: 40px;
        border-radius: 4px;
        border: 0px solid #ccc;
        background-color: #8c8c8c;
        color: white;
        margin-left: 10px;
        transition: all 0.3s ease-in-out;
        &:hover{
            background-color: #ff004c;
            transition: all 0.3s ease-in-out;
        }
    }
    select{
        height: 40px;
        border-radius: 4px;
        border: 1px solid #ccc;
        margin-right: 10px;
        padding:0 10px;
    }
}