<div class="content">
  <section id="main" class="content-body">
    <table class="table datagrid">
      <thead>
        <tr>
          <th class="sorted integer">
            ID <i class="fa fa-fw fa-arrow-down"></i>
          </th>
          <th class="image"><span></span></th>
          <th class="string">Nom <i class="fa fa-fw fa-sort"></i></th>
          <th class="email">Email <i class="fa fa-fw fa-sort"></i></th>
          <th class="association">Role <i class="fa fa-fw fa-sort"></i></th>
          <th class="date">Naissance <i class="fa fa-fw fa-sort"></i></th>
          <th class="datetime">Inscription <i class="fa fa-fw fa-sort"></i></th>
          <th><span class="string">Actions</span></th>
        </tr>
      </thead>
      <tbody>
        <tr data-id="5">
          <td class="sorted integer">5</td>
          <td class="image">
            <a
              href="#"
              class="easyadmin-thumbnail"
              data-featherlight="#easyadmin-lightbox-212fec5a8dd1ede3078a63faf3f1008e"
              data-featherlight-close-on-click="anywhere"
            >
              <img src="/data/avatar/avatarDefault.png" />
            </a>
            <div
              id="easyadmin-lightbox-212fec5a8dd1ede3078a63faf3f1008e"
              class="easyadmin-lightbox"
            >
              <img src="/data/avatar/avatarDefault.png" />
            </div>
          </td>
          <td class="string">
            <span title="Treslongnompourtesterlaresponsiviter">
              Treslongnompourtesterlaresponsiviter
            </span>
          </td>
          <td class="email">
            <a href="mailto:lol@gmail.com">zz.com</a>
          </td>
          <td class="association">
            <a
              href="/admin/?action=show&amp;entity=UserRole&amp;id=5&amp;referer="
              >Banni</a
            >
          </td>
          <td class="date">
            <time
              datetime="1993-01-01T00:00:00+00:00"
              title="Fri, 01 Jan 1993 00:00:00 +0000"
              >1 Jan 1993</time
            >
          </td>
          <td class="datetime">
            <time
              datetime="2021-03-25T15:59:43+00:00"
              title="Thu, 25 Mar 2021 15:59:43 +0000"
              >25 Mar 2021 15:59</time
            >
          </td>
          <td class="actions">
            <a
              class="btn btn-info action-show"
              title=""
              href="/admin/?entity=User&amp;action=show&amp;menuIndex=1&amp;submenuIndex=0&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DUser%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D0%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=5"
              target="_self"
              ><i class="fa fa-fw fa-eye"></i>
            </a>

            <a
              class="btn btn-primary action-edit"
              title=""
              href="/admin/?entity=User&amp;action=edit&amp;menuIndex=1&amp;submenuIndex=0&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DUser%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D0%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=5"
              target="_self"
              ><i class="fa fa-fw fa-edit"></i>
            </a>
          </td>
        </tr>
        <tr data-id="4">
          <td class="sorted integer">4</td>
          <td class="image">
            <a
              href="#"
              class="easyadmin-thumbnail"
              data-featherlight="#easyadmin-lightbox-dcec57bbc3567828fc1b3c1f216bd2c9"
              data-featherlight-close-on-click="anywhere"
            >
              <img src="/data/avatar/603f72ccb5413835709531.png" />
            </a>
            <div
              id="easyadmin-lightbox-dcec57bbc3567828fc1b3c1f216bd2c9"
              class="easyadmin-lightbox"
            >
              <img src="/data/avatar/603f72ccb5413835709531.png" />
            </div>
          </td>
          <td class="string">
            <span title="Zouzou6900">Zouzou6900</span>
          </td>

          <td class="email">
            <a href="mailto:meersman_amaury@hotmail.com">meersman_amaury.com</a>
          </td>
          <td class="association">
            <a
              href="/admin/?action=show&amp;entity=UserRole&amp;id=3&amp;referer="
              >Administrateur</a
            >
          </td>
          <td class="date">
            <time
              datetime="1987-08-29T00:00:00+00:00"
              title="Sat, 29 Aug 1987 00:00:00 +0000"
              >29 Aug 1987</time
            >
          </td>
          <td class="datetime">
            <time
              datetime="2021-03-03T12:16:39+00:00"
              title="Wed, 03 Mar 2021 12:16:39 +0000"
              >3 Mar 2021 12:16</time
            >
          </td>
          <td class="actions">
            <a
              class="btn btn-info action-show"
              title=""
              href="/admin/?entity=User&amp;action=show&amp;menuIndex=1&amp;submenuIndex=0&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DUser%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D0%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=4"
              target="_self"
              ><i class="fa fa-fw fa-eye"></i>
            </a>
            <a
              class="btn btn-primary action-edit"
              title=""
              href="/admin/?entity=User&amp;action=edit&amp;menuIndex=1&amp;submenuIndex=0&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DUser%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D0%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=4"
              target="_self"
              ><i class="fa fa-fw fa-edit"></i>
            </a>
          </td>
        </tr>
        <tr data-id="3">
          <td class="sorted integer">3</td>
          <td class="image">
            <a
              href="#"
              class="easyadmin-thumbnail"
              data-featherlight="#easyadmin-lightbox-212fec5a8dd1ede3078a63faf3f1008e"
              data-featherlight-close-on-click="anywhere"
            >
              <img src="/data/avatar/avatarDefault.png" />
            </a>
            <div
              id="easyadmin-lightbox-212fec5a8dd1ede3078a63faf3f1008e"
              class="easyadmin-lightbox"
            >
              <img src="/data/avatar/avatarDefault.png" />
            </div>
          </td>
          <td class="string">
            <span title="membre">membre</span>
          </td>
          <td class="email">
            <a href="mailto:laurent.moury@hotmail.be">laurent.moury.be</a>
          </td>
          <td class="association">
            <a
              href="/admin/?action=show&amp;entity=UserRole&amp;id=1&amp;referer="
              >Membre</a
            >
          </td>
          <td class="date">
            <time
              datetime="2014-06-04T00:00:00+00:00"
              title="Wed, 04 Jun 2014 00:00:00 +0000"
              >4 Jun 2014</time
            >
          </td>
          <td class="datetime">
            <time
              datetime="2020-09-06T10:43:59+00:00"
              title="Sun, 06 Sep 2020 10:43:59 +0000"
              >6 Sep 2020 10:43</time
            >
          </td>
          <td class="actions">
            <a
              class="btn btn-info action-show"
              title=""
              href="/admin/?entity=User&amp;action=show&amp;menuIndex=1&amp;submenuIndex=0&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DUser%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D0%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=3"
              target="_self"
              ><i class="fa fa-fw fa-eye"></i>
            </a>
            <a
              class="btn btn-primary action-edit"
              title=""
              href="/admin/?entity=User&amp;action=edit&amp;menuIndex=1&amp;submenuIndex=0&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DUser%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D0%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=3"
              target="_self"
              ><i class="fa fa-fw fa-edit"></i>
            </a>
          </td>
        </tr>
        <tr data-id="2">
          <td class="sorted integer">2</td>
          <td class="image">
            <a
              href="#"
              class="easyadmin-thumbnail"
              data-featherlight="#easyadmin-lightbox-c0355e75c6b06abaab1b7870d50eb376"
              data-featherlight-close-on-click="anywhere"
            >
              <img src="/data/avatar/8568.png" />
            </a>
            <div
              id="easyadmin-lightbox-c0355e75c6b06abaab1b7870d50eb376"
              class="easyadmin-lightbox"
            >
              <img src="/data/avatar/8568.png" />
            </div>
          </td>
          <td class="string">
            <span title="modo">modo</span>
          </td>
          <td class="email">
            <a href="mailto:modo@gmail.com">modo.com</a>
          </td>
          <td class="association">
            <a
              href="/admin/?action=show&amp;entity=UserRole&amp;id=2&amp;referer="
              >Modérateur</a
            >
          </td>
          <td class="date">
            <time
              datetime="2014-06-04T00:00:00+00:00"
              title="Wed, 04 Jun 2014 00:00:00 +0000"
              >4 Jun 2014</time
            >
          </td>
          <td class="datetime">
            <time
              datetime="2020-09-06T10:43:59+00:00"
              title="Sun, 06 Sep 2020 10:43:59 +0000"
              >6 Sep 2020 10:43</time
            >
          </td>
          <td class="actions">
            <a
              class="btn btn-info action-show"
              title=""
              href="/admin/?entity=User&amp;action=show&amp;menuIndex=1&amp;submenuIndex=0&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DUser%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D0%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=2"
              target="_self"
              ><i class="fa fa-fw fa-eye"></i>
            </a>
            <a
              class="btn btn-primary action-edit"
              title=""
              href="/admin/?entity=User&amp;action=edit&amp;menuIndex=1&amp;submenuIndex=0&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DUser%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D0%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=2"
              target="_self"
              ><i class="fa fa-fw fa-edit"></i>
            </a>
          </td>
        </tr>
        <tr data-id="1">
          <td class="sorted integer">1</td>
          <td class="image">
            <a
              href="#"
              class="easyadmin-thumbnail"
              data-featherlight="#easyadmin-lightbox-2d481e047c058327a7de84af919a1e5b"
              data-featherlight-close-on-click="anywhere"
            >
              <img src="/data/avatar/myAvatar.png" />
            </a>
            <div
              id="easyadmin-lightbox-2d481e047c058327a7de84af919a1e5b"
              class="easyadmin-lightbox"
            >
              <img src="/data/avatar/myAvatar.png" />
            </div>
          </td>
          <td class="string">
            <span title="admin">admin</span>
          </td>
          <td class="email">
            <a href="mailto:admin@gmail.com">admincom</a>
          </td>
          <td class="association">
            <a
              href="/admin/?action=show&amp;entity=UserRole&amp;id=3&amp;referer="
              >Administrateur</a
            >
          </td>
          <td class="date">
            <time
              datetime="1988-09-06T00:00:00+00:00"
              title="Tue, 06 Sep 1988 00:00:00 +0000"
              >6 Sep 1988</time
            >
          </td>
          <td class="datetime">
            <time
              datetime="2020-09-06T10:43:58+00:00"
              title="Sun, 06 Sep 2020 10:43:58 +0000"
              >6 Sep 2020 10:43</time
            >
          </td>
          <td class="actions">
            <a
              class="btn btn-info action-show"
              title=""
              href="/admin/?entity=User&amp;action=show&amp;menuIndex=1&amp;submenuIndex=0&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DUser%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D0%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=1"
              target="_self"
              ><i class="fa fa-fw fa-eye"></i>
            </a>
            <a
              class="btn btn-primary action-edit"
              title=""
              href="/admin/?entity=User&amp;action=edit&amp;menuIndex=1&amp;submenuIndex=0&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DUser%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D0%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=1"
              target="_self"
              ><i class="fa fa-fw fa-edit"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <form
      name="delete_form"
      method="post"
      action="/admin/?action=delete&amp;entity=User&amp;id=__id__&amp;referer=%2Fadmin%2F%3Fentity%3DUser%26action%3Dlist%26menuIndex%3D1%26submenuIndex%3D0"
      id="delete-form"
      style="display: none"
    >
      <input type="hidden" name="_method" value="DELETE" />
      <div id="delete_form" style="display: none">
        <div class="form-group">
          <button
            type="submit"
            id="delete_form_submit"
            name="delete_form[submit]"
            class="btn-primary btn"
          >
            Supprimer
          </button>
        </div>
        <input
          type="hidden"
          id="delete_form__easyadmin_delete_flag"
          name="delete_form[_easyadmin_delete_flag]"
          value="1"
        /><input
          type="hidden"
          id="delete_form__token"
          name="delete_form[_token]"
          value="pR7PZ0K_B9ZVT7C7g8AnzcAUXk1qzRgS6HQEli646wM"
        />
      </div>
    </form>

    <div id="modal-delete" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <h4>Voulez-vous supprimer cet élément ?</h4>
            <p>Cette action est irréversible.</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              data-dismiss="modal"
              class="btn btn-secondary"
            >
              <span class="btn-label">Annuler</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
