.container {
  display: flex;
  justify-content: center;
  .register-component {
    justify-content: center;
    padding: 30px;
    border-radius: 20px;
    margin: 40px;
    border: 1px solid #e0e0e0;
    width: 800px;
    label {
      display: block;
    }
    input {
      display: block;
      width: 100%;
      width: 100%;
      display: block;
      padding:10px;
      border-radius:10px;
      border:1px solid #cecece;
      margin-bottom:15px;
    }
    .error {
      color: red;
      font-size: 0.8em;
      margin-top: 0.5em;
    }
  }
}

h2.header-form{
  background-color: #ff004c;
  padding:10px; color:white;
  border-radius: 10px;
}

h3{
  text-transform: uppercase;
  font-weight: bold;
}
button{
  background-color: #1b1b1b;
  color:white;
  border:0;
  margin-bottom:10px;
  border-radius:10px;
  padding:10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover{
    background-color: #ff004c;
    transition: all 0.3s ease-in-out;
  }
}
.register-component{text-align: center;
a{
  color:#ff004c;
  text-decoration: none;
  margin-left: 5px;
}}