 <h2>En attente</h2>
 <hr>
 <div class="content">
  <section id="main" class="content-body">
    <table class="table datagrid">
      <thead>          
        <th>Id</th>
        <th>Titre</th>
        <th>Description</th>
        <th>Actions</th>         
      </thead>
      <tbody>
        @if(announces){
          @for(announce of announces; track announce){
            @if (announce.status === 'PENDING') {
              <tr>
                <td>{{ announce.id }}</td>
                <td>{{ announce.title }}</td>
                <td>{{ announce.description }}</td>
                <td>
                  <a class="btn btn-info"><i class="fa fa-fw fa-eye"></i></a>
                  <a class="btn btn-success" (click)="changeAnnounceStatus(announce.userId,'VALIDED')"><i class="fa fa-fw fa-check"></i></a>
                  <a class="btn btn-warning"(click)="changeAnnounceStatus(announce.userId,'REFUSED')"><i class="fa fa-fw fa-close"></i></a>
                  <a class="btn btn-danger"(click)="removeAnnounce(announce.userId)"><i class="fa fa-fw fa-trash"></i></a>
                </td>
              </tr>
            }
          }
        }
    </tbody>
  </table> 
  </section>
</div>
  <hr>
  <h2>Suspendue</h2>
  <hr>
  <div class="content">
    <section id="main" class="content-body">
      <table class="table datagrid">
        <thead>          
          <th>Id</th>
          <th>Titre</th>
          <th>Description</th>
          <th>Actions</th>         
        </thead>
        <tbody>
          @for(announce of announces; track announce){
            @if (announce.status === 'REFUSED') {
              <tr>
                <td>{{ announce.id }}</td>
                <td>{{ announce.title }}</td>
                <td>{{ announce.description }}</td>
                <td>
                  <a class="btn btn-info"><i class="fa fa-fw fa-eye"></i></a>
                  <a class="btn btn-success"(click)="changeAnnounceStatus(announce.userId,'VALIDED')"><i class="fa fa-fw fa-check"></i></a>
                  <a class="btn btn-danger"(click)="removeAnnounce(announce.userId)"><i class="fa fa-fw fa-trash"></i></a>
                </td>
              </tr>
            }
          }
      </tbody>
    </table> 
    </section>
  </div>
  <hr>
  <h2>Verifié</h2>
  <hr>
  <div class="content">
    <section id="main" class="content-body">
      <table class="table datagrid">
        <thead>          
          <th>Id</th>
          <th>Titre</th>
          <th>Description</th>
          <th>Actions</th>         
        </thead>
        <tbody>
          @for(announce of announces; track announce){
            @if (announce.status === 'VALIDED') {
              <tr>
                <td>{{ announce.id }}</td>
                <td>{{ announce.title }}</td>
                <td>{{ announce.description }}</td>
                <td>
                  <a class="btn btn-info"><i class="fa fa-fw fa-eye"></i></a>
                  <a class="btn btn-warning"(click)="changeAnnounceStatus(announce.userId,'REFUSED')"><i class="fa fa-fw fa-close"></i></a>
                  <a class="btn btn-danger"(click)="removeAnnounce(announce.userId)"><i class="fa fa-fw fa-trash"></i></a>
                </td>
              </tr>
            }
          }
      </tbody>
    </table> 
    </section>
  </div>