nav{
  display:flex;
  align-items: center;
  height:100%;
  .nav-link a{
    color:#fff;
    text-decoration: none;
    padding:10px;
    &:hover{
      color: #ff004c;
      cursor:pointer;
    }
  }
}