<section>
  <div class="">
    <div class="sidebar-content">
      <div class="serverTitle">
        <div class="panel-title">
          <span class="server-title"
            >Rapport sur l'environnement du serveur Front</span
          >
        </div>
      </div>
      <table class="tableStyle">
        <tbody>
          <tr>
            <td>Angular version:</td>
            <td>17</td>
          </tr>
          <tr>
            <td>Navigateur:</td>
            <td>{{browserInfo}}</td>
          </tr>
          <tr>
            <td></td>
            <td>{{osInfo}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br />
    <div class="sidebar-content">
      <div class="serverTitle">
        <div class="panel-title">
          <span class="server-title"
            >Rapport sur l'environnement du serveur Back</span
          >
        </div>
      </div>
      <table class="">
        <tbody>
          <tr>
            <td>AdonisJs version:</td>
            <td>6</td>
          </tr>
          <tr>
            <td>Postgresql</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<section class="content-footer"></section>
