<section>
  <div class="">
    <div class="sidebar-content">
      <div class="serverTitle">
        <div class="panel-title">
          <span class="server-title"
            >Rapport sur l'environnement du serveur Front</span
          >
        </div>
      </div>
      <table class="">
        <tbody>
          <tr>
            <td>PHP version:</td>
            <td>7.3.33-14+0~20230902.114+debian11~1.gbp764b27</td>
          </tr>
          <tr>
            <td>Server software:</td>
            <td>Apache</td>
          </tr>
          <tr>
            <td>cURL version:</td>
            <td>7.74.0</td>
          </tr>
          <tr>
            <td>SSL version:</td>
            <td>OpenSSL/1.1.1w</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br />
    <div class="sidebar-content">
      <div class="serverTitle">
        <div class="panel-title">
          <span class="server-title"
            >Rapport sur l'environnement du serveur Back</span
          >
        </div>
      </div>
      <table class="">
        <tbody>
          <tr>
            <td>PHP version:</td>
            <td>7.3.33-14+0~20230902.114+debian11~1.gbp764b27</td>
          </tr>
          <tr>
            <td>Server software:</td>
            <td>Apache</td>
          </tr>
          <tr>
            <td>cURL version:</td>
            <td>7.74.0</td>
          </tr>
          <tr>
            <td>SSL version:</td>
            <td>OpenSSL/1.1.1w</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br />
    <div class="sidebar-content">
      <div class="serverTitle">
        <div class="panel-title">
          <span class="server-title">Membres de l'équipe en ligne</span>
        </div>
      </div>
      <div class="sidebar-body-staf">
        <div class="sidebar-content-staf">
          <div class="visitor-avatar">
            <img
              width="38"
              height="38"
              alt="admin"
              src="assets/images/profile1/1.png"
            />
          </div>
          <a class="username" href="/membres/admin.1">admin</a>
          <div class="staffRole">Administrateur</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content-footer"></section>
