<div class="content">
  <section id="main" class="content-body">
    <table class="table datagrid">
      <thead>
        <tr>
          <th class="sorted integer">
            <a
              href="/admin/?entity=Banni&amp;action=list&amp;menuIndex=1&amp;submenuIndex=4&amp;sortField=id&amp;sortDirection=ASC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DBanni%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D4%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1"
            >
              ID <i class="fa fa-fw fa-arrow-down"></i>
            </a>
          </th>

          <th class="image">
            <span></span>
          </th>

          <th class="string">
            <a
              href="/admin/?entity=Banni&amp;action=list&amp;menuIndex=1&amp;submenuIndex=4&amp;sortField=username&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DBanni%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D4%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1"
            >
              Nom <i class="fa fa-fw fa-sort"></i>
            </a>
          </th>

          <th class="email">
            <a
              href="/admin/?entity=Banni&amp;action=list&amp;menuIndex=1&amp;submenuIndex=4&amp;sortField=email&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DBanni%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D4%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1"
            >
              Email <i class="fa fa-fw fa-sort"></i>
            </a>
          </th>

          <th class="association">
            <a
              href="/admin/?entity=Banni&amp;action=list&amp;menuIndex=1&amp;submenuIndex=4&amp;sortField=role&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DBanni%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D4%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1"
            >
              role <i class="fa fa-fw fa-sort"></i>
            </a>
          </th>

          <th class="date">
            <a
              href="/admin/?entity=Banni&amp;action=list&amp;menuIndex=1&amp;submenuIndex=4&amp;sortField=date_naissance&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DBanni%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D4%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1"
            >
              Naissance <i class="fa fa-fw fa-sort"></i>
            </a>
          </th>

          <th class="datetime">
            <a
              href="/admin/?entity=Banni&amp;action=list&amp;menuIndex=1&amp;submenuIndex=4&amp;sortField=date_inscription&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DBanni%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D4%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1"
            >
              Inscription <i class="fa fa-fw fa-sort"></i>
            </a>
          </th>

          <th>
            <span class="sr-only">Actions</span>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr data-id="5">
          <td class="sorted integer">5</td>

          <td class="image">
            <a
              href="#"
              class="easyadmin-thumbnail"
              data-featherlight="#easyadmin-lightbox-212fec5a8dd1ede3078a63faf3f1008e"
              data-featherlight-close-on-click="anywhere"
            >
              <img src="/data/avatar/avatarDefault.png" />
            </a>

            <div
              id="easyadmin-lightbox-212fec5a8dd1ede3078a63faf3f1008e"
              class="easyadmin-lightbox"
            >
              <img src="/data/avatar/avatarDefault.png" />
            </div>
          </td>

          <td class="string">
            <span title="Treslongnompourtesterlaresponsiviter"
              >Treslongnompourtesterlaresponsiviter</span
            >
          </td>

          <td class="email">
            <a href="mailto:lol@gmail.com">lol&#64;gmail.com</a>
          </td>

          <td class="association">
            <a
              href="/admin/?action=show&amp;entity=UserRole&amp;id=5&amp;referer="
              >Banni</a
            >
          </td>

          <td class="date">
            <time
              datetime="1993-01-01T00:00:00+00:00"
              title="Fri, 01 Jan 1993 00:00:00 +0000"
              >1 Jan 1993</time
            >
          </td>

          <td class="datetime">
            <time
              datetime="2021-03-25T15:59:43+00:00"
              title="Thu, 25 Mar 2021 15:59:43 +0000"
              >25 Mar 2021 15:59</time
            >
          </td>

          <td class="actions">
            <a
              class="btn btn-info action-show"
              title=""
              href="/admin/?entity=Banni&amp;action=show&amp;menuIndex=1&amp;submenuIndex=4&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DBanni%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D4%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=5"
              target="_self"
              ><i class="fa fa-fw fa-eye"></i>
            </a>

            <a
              class="btn btn-primary action-edit"
              title=""
              href="/admin/?entity=Banni&amp;action=edit&amp;menuIndex=1&amp;submenuIndex=4&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DBanni%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D4%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=5"
              target="_self"
              ><i class="fa fa-fw fa-edit"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <form
      name="delete_form"
      method="post"
      action="/admin/?action=delete&amp;entity=Banni&amp;id=__id__&amp;referer=%2Fadmin%2F%3Fentity%3DBanni%26action%3Dlist%26menuIndex%3D1%26submenuIndex%3D4%26sortField%3Did%26sortDirection%3DDESC%26page%3D1"
      id="delete-form"
      style="display: none"
    >
      <input type="hidden" name="_method" value="DELETE" />
      <div id="delete_form" style="display: none">
        <div class="form-group">
          <button
            type="submit"
            id="delete_form_submit"
            name="delete_form[submit]"
            class="btn-primary btn"
          >
            Supprimer
          </button>
        </div>
        <input
          type="hidden"
          id="delete_form__easyadmin_delete_flag"
          name="delete_form[_easyadmin_delete_flag]"
          value="1"
        /><input
          type="hidden"
          id="delete_form__token"
          name="delete_form[_token]"
          value="pR7PZ0K_B9ZVT7C7g8AnzcAUXk1qzRgS6HQEli646wM"
        />
      </div>
    </form>

    <div id="modal-delete" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <h4>Voulez-vous supprimer cet élément ?</h4>
            <p>Cette action est irréversible.</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              data-dismiss="modal"
              class="btn btn-secondary"
            >
              <span class="btn-label">Annuler</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
