<div class="content">
  <section id="main" class="content-body">
    <table class="table datagrid">
      <thead>
        <tr>
          <th class="sorted integer">
            
          ID <i class="fa fa-fw fa-arrow-down"></i>
          </th>
          <th class="image">
            <span></span>
          </th>
          <th class="string">Nom <i class="fa fa-fw fa-sort"></i></th>
          <th class="email">
              Email <i class="fa fa-fw fa-sort"></i>
          </th>
          <th class="association">          
              role <i class="fa fa-fw fa-sort"></i>           
          </th>
          <th class="date">           
              Naissance <i class="fa fa-fw fa-sort"></i>          
          </th>
          <th class="datetime">            
              Inscription <i class="fa fa-fw fa-sort"></i>
          </th>
          <th>
            <span class="sr-only">Actions</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr data-id="1">
          <td class="sorted integer">1</td>
          <td class="image"></td>
          <td class="string">
            <span title="Treslongnompourtesterlaresponsiviter">
              Treslongnompourtesterlaresponsiviter
            </span>
          </td>
          <td class="email">
            <a href="">lol&#64;gmail.com</a>
          </td>
          <td class="association">
            Banni
          </td>
          <td class="date">
            <time>1 Jan 1993</time>
          </td>
          <td class="datetime">
            <time>25 Mar 2021 15:59</time>
          </td>
          <td class="actions">
            <a class="btn btn-info action-show">
              <i class="fa fa-fw fa-eye"></i>
            </a>
            <a class="btn btn-primary action-edit">
              <i class="fa fa-fw fa-edit"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
