<app-header>

</app-header>

<div class="bg">
    <div class="thanks">
        <h1>Remerciements</h1>
        <h3>
            Nous tenons tout d'abord à exprimer notre profonde gratitude envers les intervenants de la formation, dont les précieux enseignements ont façonné notre parcours de développement. 
        </h3>
        <p>
            Un grand merci à l'équipe de <span class="name">Triptyk</span> pour leur expertise et leur dévouement à partager leur savoir-faire en matière de développement informatique. Leur passion et leur professionnalisme ont été une source d'inspiration tout au long de notre parcours.
        </p>
        <p>
            Nous adressons également nos sincères remerciements à <span class="name">Cefora</span>, en particulier à <span class="name">Andrea</span>, pour son soutien inestimable et son accompagnement tout au long de cette formation. Sa présence et ses conseils ont été d'une valeur inestimable pour notre progression.
        </p>
        <p>
            Nous souhaitons également exprimer notre reconnaissance envers <span class="name">Technocité</span> pour leur engagement continu à nous soutenir et à nous accompagner tout au long de cette aventure. Leur accueil chaleureux dans leurs locaux a créé un environnement propice à l'apprentissage et à l'épanouissement professionnel.
        </p>
        <p>
            Enfin, à toutes les personnes et entités qui ont contribué de près ou de loin à notre réussite, nous vous adressons nos plus sincères remerciements. Votre soutien et vos encouragements ont été essentiels dans notre parcours de formation.
        </p>

        <p>
            Nous sommes profondément reconnaissants envers chacun d'entre vous pour votre contribution à notre développement professionnel.
        </p>
        <br class="pushBottom">
    </div>
</div>

<router-outlet></router-outlet>
