<div class="content">
  <section id="main" class="content-body">
    <table class="table datagrid">
      <thead>
        <tr>
          <th class="sorted integer">
            <a
              href="/admin/?entity=Administrateurs&amp;action=list&amp;menuIndex=1&amp;submenuIndex=2&amp;sortField=id&amp;sortDirection=ASC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DAdministrateurs%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D2%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1"
            >
              # <i class="fa fa-fw fa-arrow-down"></i>
            </a>
          </th>

          <th class="image">
            <span></span>
          </th>

          <th class="string">
            <a
              href="/admin/?entity=Administrateurs&amp;action=list&amp;menuIndex=1&amp;submenuIndex=2&amp;sortField=username&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DAdministrateurs%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D2%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1"
            >
              Nom <i class="fa fa-fw fa-sort"></i>
            </a>
          </th>

          <th class="email">
            <a
              href="/admin/?entity=Administrateurs&amp;action=list&amp;menuIndex=1&amp;submenuIndex=2&amp;sortField=email&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DAdministrateurs%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D2%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1"
            >
              Email <i class="fa fa-fw fa-sort"></i>
            </a>
          </th>

          <th class="association">
            <a
              href="/admin/?entity=Administrateurs&amp;action=list&amp;menuIndex=1&amp;submenuIndex=2&amp;sortField=role&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DAdministrateurs%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D2%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1"
            >
              role <i class="fa fa-fw fa-sort"></i>
            </a>
          </th>

          <th class="date">
            <a
              href="/admin/?entity=Administrateurs&amp;action=list&amp;menuIndex=1&amp;submenuIndex=2&amp;sortField=date_naissance&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DAdministrateurs%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D2%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1"
            >
              Naissance <i class="fa fa-fw fa-sort"></i>
            </a>
          </th>

          <th class="datetime">
            <a
              href="/admin/?entity=Administrateurs&amp;action=list&amp;menuIndex=1&amp;submenuIndex=2&amp;sortField=date_inscription&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DAdministrateurs%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D2%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1"
            >
              Inscription <i class="fa fa-fw fa-sort"></i>
            </a>
          </th>

          <th>
            <span class="sr-only">Actions</span>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr data-id="4">
          <td class="sorted integer">4</td>

          <td class="image">
            <a
              href="#"
              class="easyadmin-thumbnail"
              data-featherlight="#easyadmin-lightbox-dcec57bbc3567828fc1b3c1f216bd2c9"
              data-featherlight-close-on-click="anywhere"
            >
              <img src="/data/avatar/603f72ccb5413835709531.png" />
            </a>

            <div
              id="easyadmin-lightbox-dcec57bbc3567828fc1b3c1f216bd2c9"
              class="easyadmin-lightbox"
            >
              <img src="/data/avatar/603f72ccb5413835709531.png" />
            </div>
          </td>

          <td class="string">
            <span title="Zouzou6900">Zouzou6900</span>
          </td>

          <td class="email">
            <a href="mailto:meersman_amaury@hotmail.com">meersman_amaury.com</a>
          </td>

          <td class="association">
            <a
              href="/admin/?action=show&amp;entity=UserRole&amp;id=3&amp;referer="
              >Administrateur</a
            >
          </td>

          <td class="date">
            <time
              datetime="1987-08-29T00:00:00+00:00"
              title="Sat, 29 Aug 1987 00:00:00 +0000"
              >29 Aug 1987</time
            >
          </td>

          <td class="datetime">
            <time
              datetime="2021-03-03T12:16:39+00:00"
              title="Wed, 03 Mar 2021 12:16:39 +0000"
              >3 Mar 2021 12:16</time
            >
          </td>

          <td class="actions">
            <a
              class="btn btn-info action-show"
              title=""
              href="/admin/?entity=Administrateurs&amp;action=show&amp;menuIndex=1&amp;submenuIndex=2&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DAdministrateurs%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D2%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=4"
              target="_self"
              ><i class="fa fa-fw fa-eye"></i>
            </a>

            <a
              class="btn btn-primary action-edit"
              title=""
              href="/admin/?entity=Administrateurs&amp;action=edit&amp;menuIndex=1&amp;submenuIndex=2&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DAdministrateurs%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D2%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=4"
              target="_self"
              ><i class="fa fa-fw fa-edit"></i>
            </a>
          </td>
        </tr>
        <tr data-id="1">
          <td class="sorted integer">1</td>

          <td class="image">
            <a
              href="#"
              class="easyadmin-thumbnail"
              data-featherlight="#easyadmin-lightbox-2d481e047c058327a7de84af919a1e5b"
              data-featherlight-close-on-click="anywhere"
            >
              <img src="/data/avatar/myAvatar.png" />
            </a>

            <div
              id="easyadmin-lightbox-2d481e047c058327a7de84af919a1e5b"
              class="easyadmin-lightbox"
            >
              <img src="/data/avatar/myAvatar.png" />
            </div>
          </td>

          <td class="string">
            <span title="admin">admin</span>
          </td>

          <td class="email">
            <a href="mailto:admin@gmail.com">admin.com</a>
          </td>

          <td class="association">
            <a
              href="/admin/?action=show&amp;entity=UserRole&amp;id=3&amp;referer="
              >Administrateur</a
            >
          </td>

          <td class="date">
            <time
              datetime="1988-09-06T00:00:00+00:00"
              title="Tue, 06 Sep 1988 00:00:00 +0000"
              >6 Sep 1988</time
            >
          </td>

          <td class="datetime">
            <time
              datetime="2020-09-06T10:43:58+00:00"
              title="Sun, 06 Sep 2020 10:43:58 +0000"
              >6 Sep 2020 10:43</time
            >
          </td>

          <td class="actions">
            <a
              class="btn btn-info action-show"
              title=""
              href="/admin/?entity=Administrateurs&amp;action=show&amp;menuIndex=1&amp;submenuIndex=2&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DAdministrateurs%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D2%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=1"
              target="_self"
              ><i class="fa fa-fw fa-eye"></i>
            </a>

            <a
              class="btn btn-primary action-edit"
              title=""
              href="/admin/?entity=Administrateurs&amp;action=edit&amp;menuIndex=1&amp;submenuIndex=2&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DAdministrateurs%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D2%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=1"
              target="_self"
              ><i class="fa fa-fw fa-edit"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <form
      name="delete_form"
      method="post"
      action="/admin/?action=delete&amp;entity=Administrateurs&amp;id=__id__&amp;referer=%2Fadmin%2F%3Fentity%3DAdministrateurs%26action%3Dlist%26menuIndex%3D1%26submenuIndex%3D2"
      id="delete-form"
      style="display: none"
    >
      <input type="hidden" name="_method" value="DELETE" />
      <div id="delete_form" style="display: none">
        <div class="form-group">
          <button
            type="submit"
            id="delete_form_submit"
            name="delete_form[submit]"
            class="btn-primary btn"
          >
            Supprimer
          </button>
        </div>
        <input
          type="hidden"
          id="delete_form__easyadmin_delete_flag"
          name="delete_form[_easyadmin_delete_flag]"
          value="1"
        /><input
          type="hidden"
          id="delete_form__token"
          name="delete_form[_token]"
          value="pR7PZ0K_B9ZVT7C7g8AnzcAUXk1qzRgS6HQEli646wM"
        />
      </div>
    </form>

    <div id="modal-delete" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <h4>Voulez-vous supprimer cet élément ?</h4>
            <p>Cette action est irréversible.</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              data-dismiss="modal"
              class="btn btn-secondary"
            >
              <span class="btn-label">Annuler</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="content-footer">
    <div class="list-pagination">
      <div class="list-pagination-counter"><strong>2</strong> résultats</div>

      <nav class="pager list-pagination-paginator first-page last-page">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#">
              <i class="fa fa-angle-left mx-1"></i>
              <span class="btn-label">Précédent</span>
            </a>
          </li>

          <li class="page-item disabled">
            <a class="page-link" href="#">
              <span class="btn-label">Suivant</span>
              <i class="fa fa-angle-right mx-1"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
</div>
