<div class="content">
  <section id="main" class="content-body">
    <table class="table datagrid">
      <thead>
        <tr>
          <th class="sorted integer">
            <a
              href="/admin/?entity=Administrateurs&amp;action=list&amp;menuIndex=1&amp;submenuIndex=2&amp;sortField=id&amp;sortDirection=ASC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DAdministrateurs%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D2%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1"
            >
              ID <i class="fa fa-fw fa-arrow-down"></i>
            </a>
          </th>

          <th class="image">
            <span></span>
          </th>

          <th class="string">
            <a
              href="/admin/?entity=Administrateurs&amp;action=list&amp;menuIndex=1&amp;submenuIndex=2&amp;sortField=username&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DAdministrateurs%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D2%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1"
            >
              Nom <i class="fa fa-fw fa-sort"></i>
            </a>
          </th>

          <th class="email">
            <a
              href="/admin/?entity=Administrateurs&amp;action=list&amp;menuIndex=1&amp;submenuIndex=2&amp;sortField=email&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DAdministrateurs%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D2%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1"
            >
              Email <i class="fa fa-fw fa-sort"></i>
            </a>
          </th>

          <th class="association">
            <a
              href="/admin/?entity=Administrateurs&amp;action=list&amp;menuIndex=1&amp;submenuIndex=2&amp;sortField=role&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DAdministrateurs%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D2%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1"
            >
              role <i class="fa fa-fw fa-sort"></i>
            </a>
          </th>

          <th class="date">
            <a
              href="/admin/?entity=Administrateurs&amp;action=list&amp;menuIndex=1&amp;submenuIndex=2&amp;sortField=date_naissance&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DAdministrateurs%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D2%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1"
            >
              Naissance <i class="fa fa-fw fa-sort"></i>
            </a>
          </th>

          <th class="datetime">
            <a
              href="/admin/?entity=Administrateurs&amp;action=list&amp;menuIndex=1&amp;submenuIndex=2&amp;sortField=date_inscription&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DAdministrateurs%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D2%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1"
            >
              Inscription <i class="fa fa-fw fa-sort"></i>
            </a>
          </th>

          <th>
            <span class="sr-only">Actions</span>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr data-id="4">
          <td class="sorted integer">4</td>

          <td class="image">
            <a
              href="#"
              class="easyadmin-thumbnail"
              data-featherlight="#easyadmin-lightbox-dcec57bbc3567828fc1b3c1f216bd2c9"
              data-featherlight-close-on-click="anywhere"
            >
              <img src="/data/avatar/603f72ccb5413835709531.png" />
            </a>

            <div
              id="easyadmin-lightbox-dcec57bbc3567828fc1b3c1f216bd2c9"
              class="easyadmin-lightbox"
            >
              <img src="/data/avatar/603f72ccb5413835709531.png" />
            </div>
          </td>

          <td class="string">
            <span title="Zouzou6900">Zouzou6900</span>
          </td>

          <td class="email">
            <a href="mailto:meersman_amaury@hotmail.com"
              >meersman_amaury&#64;hotmail.com</a
            >
          </td>

          <td class="association">
            <a
              href="/admin/?action=show&amp;entity=UserRole&amp;id=3&amp;referer="
              >Administrateur</a
            >
          </td>

          <td class="date">
            <time
              datetime="1987-08-29T00:00:00+00:00"
              title="Sat, 29 Aug 1987 00:00:00 +0000"
              >29 Aug 1987</time
            >
          </td>

          <td class="datetime">
            <time
              datetime="2021-03-03T12:16:39+00:00"
              title="Wed, 03 Mar 2021 12:16:39 +0000"
              >3 Mar 2021 12:16</time
            >
          </td>

          <td class="actions">
            <a
              class="btn btn-info action-show"
              title=""
              href="/admin/?entity=Administrateurs&amp;action=show&amp;menuIndex=1&amp;submenuIndex=2&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DAdministrateurs%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D2%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=4"
              target="_self"
              ><i class="fa fa-fw fa-eye"></i>
            </a>

            <a
              class="btn btn-primary action-edit"
              title=""
              href="/admin/?entity=Administrateurs&amp;action=edit&amp;menuIndex=1&amp;submenuIndex=2&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DAdministrateurs%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D2%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=4"
              target="_self"
              ><i class="fa fa-fw fa-edit"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input />
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Pseudo</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef>Role</th>
    <td mat-cell *matCellDef="let element">{{ element.role }}</td>
  </ng-container>

  <ng-container matColumnDef="naissance">
    <th mat-header-cell *matHeaderCellDef>Naissance</th>
    <td mat-cell *matCellDef="let element">{{ element.naissance }}</td>
  </ng-container>

  <ng-container matColumnDef="register">
    <th mat-header-cell *matHeaderCellDef>Inscription</th>
    <td mat-cell *matCellDef="let element">{{ element.register }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">
      No data matching the filter "{{ input.value }}"
    </td>
  </tr>
</table>
