.logo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  text-decoration: none;
  font-size: 50px;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: #1b1b1b;
    transition: all 0.3s ease-in-out;
    .color-dark {
      color: white;
      transition: all 0.3s ease-in-out;
    }
  }
  .color-dark {
    color: #131313;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }
}
