<div id="header-bottom">
  <form action="/" method="get">
    
    <label for="my-gender">Je suis</label>
    <select id="my-gender" name="my-gender">
      <option value="my-male" selected>un mâle</option>
      <option value="my-female">une femelle</option>
    </select>

    <label for="je-cherche">Je cherche</label>
    <select id="search-gender" name="search-gender">
      <option value="search-male">un mâle</option>
      <option value="search-female" selected>une femelle</option>
    </select>

    <button type="submit">Envoyer</button>
  </form>
  
  <!--<mat-form-field class="select-header-bottom">
    <mat-label>Choose an option</mat-label>
    <mat-select class="select-options">
      <mat-option value="option1" selected>Option 1</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>-->

</div>
