<app-header></app-header>

<div class="projet">
    <h2>Equipe Front-end</h2>
    <h4>Steve Amissi</h4>
    <a href="https://github.com/DonkeyhTv">Github</a>
    <h4>Amaury Meersman</h4>
    <a href="https://github.com/zouzou6900">Github</a>

    <h2>Equipe Back-end</h2>
    <h4>Amand Dambrain</h4>
    <a href="https://github.com/Coudji">Github</a>
    <h4>Grégory Houzé</h4>
    <a href="https://github.com/Dmokrite1">Github</a>

    <h2>Recherche de contenu</h2>
    <h4>Franck Tchibozo</h4>
    <a href="https://giphy.com/gifs/confused-lost-disney-mPytjcsG3XS4o/fullscreen">Github</a>
    <br class="pushBottom">
</div>
  
<router-outlet></router-outlet>
