<div class="content">
  <section id="main" class="content-body">
    <table class="table datagrid">
      <thead>
        <tr>
          <th class="sorted integer">
            <a
              href="/admin/?entity=UserRole&amp;action=list&amp;menuIndex=1&amp;submenuIndex=5&amp;sortField=id&amp;sortDirection=ASC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DUserRole%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D5%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1"
            >
              ID <i class="fa fa-fw fa-arrow-down"></i>
            </a>
          </th>

          <th class="string">
            <a
              href="/admin/?entity=UserRole&amp;action=list&amp;menuIndex=1&amp;submenuIndex=5&amp;sortField=nom&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DUserRole%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D5%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1"
            >
              Nom <i class="fa fa-fw fa-sort"></i>
            </a>
          </th>

          <th class="string">
            <a
              href="/admin/?entity=UserRole&amp;action=list&amp;menuIndex=1&amp;submenuIndex=5&amp;sortField=role&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DUserRole%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D5%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1"
            >
              Role <i class="fa fa-fw fa-sort"></i>
            </a>
          </th>

          <th class="integer">
            <a
              href="/admin/?entity=UserRole&amp;action=list&amp;menuIndex=1&amp;submenuIndex=5&amp;sortField=level&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DUserRole%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D5%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1"
            >
              Level <i class="fa fa-fw fa-sort"></i>
            </a>
          </th>

          <th class="association">
            <span>Users</span>
          </th>

          <th class="association">
            <span>Access role</span>
          </th>

          <th>
            <span class="sr-only">Actions</span>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr data-id="5">
          <td class="sorted integer">5</td>

          <td class="string">
            <span title="Banni">Banni</span>
          </td>

          <td class="string">
            <span title="ROLE_BANNI">ROLE_BANNI</span>
          </td>

          <td class="integer">50</td>

          <td class="association">
            <span class="badge badge-secondary">1</span>
          </td>

          <td class="association">
            <span class="badge badge-secondary">0</span>
          </td>

          <td class="actions">
            <a
              class="btn btn-primary action-edit"
              title=""
              href="/admin/?entity=UserRole&amp;action=edit&amp;menuIndex=1&amp;submenuIndex=5&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DUserRole%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D5%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=5"
              target="_self"
              ><i class="fa fa-fw fa-edit"></i>
            </a>

            <a
              class="btn btn-danger action-delete"
              title=""
              href="/admin/?entity=UserRole&amp;action=delete&amp;menuIndex=1&amp;submenuIndex=5&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DUserRole%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D5%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=5"
              target="_self"
              ><i class="fa fa-fw fa-trash"></i>
            </a>
          </td>
        </tr>
        <tr data-id="4">
          <td class="sorted integer">4</td>

          <td class="string">
            <span title="Premium">Premium</span>
          </td>

          <td class="string">
            <span title="ROLE_PREMIUM">ROLE_PREMIUM</span>
          </td>

          <td class="integer">5</td>

          <td class="association">
            <span class="badge badge-secondary">0</span>
          </td>

          <td class="association">
            <span class="badge badge-secondary">4</span>
          </td>

          <td class="actions">
            <a
              class="btn btn-primary action-edit"
              title=""
              href="/admin/?entity=UserRole&amp;action=edit&amp;menuIndex=1&amp;submenuIndex=5&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DUserRole%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D5%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=4"
              target="_self"
              ><i class="fa fa-fw fa-edit"></i>
            </a>

            <a
              class="btn btn-danger action-delete"
              title=""
              href="/admin/?entity=UserRole&amp;action=delete&amp;menuIndex=1&amp;submenuIndex=5&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DUserRole%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D5%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=4"
              target="_self"
              ><i class="fa fa-fw fa-trash"></i>
            </a>
          </td>
        </tr>
        <tr data-id="3">
          <td class="sorted integer">3</td>

          <td class="string">
            <span title="Administrateur">Administrateur</span>
          </td>

          <td class="string">
            <span title="ROLE_ADMIN">ROLE_ADMIN</span>
          </td>

          <td class="integer">1</td>

          <td class="association">
            <span class="badge badge-secondary">2</span>
          </td>

          <td class="association">
            <span class="badge badge-secondary">0</span>
          </td>

          <td class="actions">
            <a
              class="btn btn-primary action-edit"
              title=""
              href="/admin/?entity=UserRole&amp;action=edit&amp;menuIndex=1&amp;submenuIndex=5&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DUserRole%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D5%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=3"
              target="_self"
              ><i class="fa fa-fw fa-edit"></i>
            </a>

            <a
              class="btn btn-danger action-delete"
              title=""
              href="/admin/?entity=UserRole&amp;action=delete&amp;menuIndex=1&amp;submenuIndex=5&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DUserRole%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D5%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=3"
              target="_self"
              ><i class="fa fa-fw fa-trash"></i>
            </a>
          </td>
        </tr>
        <tr data-id="2">
          <td class="sorted integer">2</td>

          <td class="string">
            <span title="Modérateur">Modérateur</span>
          </td>

          <td class="string">
            <span title="ROLE_MODERATEUR">ROLE_MODERATEUR</span>
          </td>

          <td class="integer">3</td>

          <td class="association">
            <span class="badge badge-secondary">1</span>
          </td>

          <td class="association">
            <span class="badge badge-secondary">0</span>
          </td>

          <td class="actions">
            <a
              class="btn btn-primary action-edit"
              title=""
              href="/admin/?entity=UserRole&amp;action=edit&amp;menuIndex=1&amp;submenuIndex=5&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DUserRole%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D5%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=2"
              target="_self"
              ><i class="fa fa-fw fa-edit"></i>
            </a>

            <a
              class="btn btn-danger action-delete"
              title=""
              href="/admin/?entity=UserRole&amp;action=delete&amp;menuIndex=1&amp;submenuIndex=5&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DUserRole%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D5%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=2"
              target="_self"
              ><i class="fa fa-fw fa-trash"></i>
            </a>
          </td>
        </tr>
        <tr data-id="1">
          <td class="sorted integer">1</td>

          <td class="string">
            <span title="Membre">Membre</span>
          </td>

          <td class="string">
            <span title="ROLE_USER">ROLE_USER</span>
          </td>

          <td class="integer">10</td>

          <td class="association">
            <span class="badge badge-secondary">1</span>
          </td>

          <td class="association">
            <span class="badge badge-secondary">0</span>
          </td>

          <td class="actions">
            <a
              class="btn btn-primary action-edit"
              title=""
              href="/admin/?entity=UserRole&amp;action=edit&amp;menuIndex=1&amp;submenuIndex=5&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DUserRole%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D5%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=1"
              target="_self"
              ><i class="fa fa-fw fa-edit"></i>
            </a>

            <a
              class="btn btn-danger action-delete"
              title=""
              href="/admin/?entity=UserRole&amp;action=delete&amp;menuIndex=1&amp;submenuIndex=5&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DUserRole%2526action%253Dlist%2526menuIndex%253D1%2526submenuIndex%253D5%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=1"
              target="_self"
              ><i class="fa fa-fw fa-trash"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <form
      name="delete_form"
      method="post"
      action="/admin/?action=delete&amp;entity=UserRole&amp;id=__id__&amp;referer=%2Fadmin%2F%3Fentity%3DUserRole%26action%3Dlist%26menuIndex%3D1%26submenuIndex%3D5"
      id="delete-form"
      style="display: none"
    >
      <input type="hidden" name="_method" value="DELETE" />
      <div id="delete_form" style="display: none">
        <div class="form-group">
          <button
            type="submit"
            id="delete_form_submit"
            name="delete_form[submit]"
            class="btn-primary btn"
          >
            Supprimer
          </button>
        </div>
        <input
          type="hidden"
          id="delete_form__easyadmin_delete_flag"
          name="delete_form[_easyadmin_delete_flag]"
          value="1"
        /><input
          type="hidden"
          id="delete_form__token"
          name="delete_form[_token]"
          value="pR7PZ0K_B9ZVT7C7g8AnzcAUXk1qzRgS6HQEli646wM"
        />
      </div>
    </form>

    <div id="modal-delete" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <h4>Voulez-vous supprimer cet élément ?</h4>
            <p>Cette action est irréversible.</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              data-dismiss="modal"
              class="btn btn-secondary"
            >
              <span class="btn-label">Annuler</span>
            </button>

            <button
              type="button"
              data-dismiss="modal"
              class="btn btn-danger"
              id="modal-delete-button"
              formtarget="_self"
            >
              <i class="fa fa-fw fa-trash"></i>
              <span class="btn-label">Supprimer</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
