<!-- @for (item of stats; track $index) {
  <h1>{{item}}</h1>
} -->
<div class="content">
  <section id="main" class="content-body">
    <div class="padding-admin">
      <div class="row tile_count">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box info-box-general">
            <span class="info-box-icon info-box-icon-general"
              ><i class="fa fa-users"></i>
            </span>
            <div class="info-box-content">
              <span>Total des membres</span>
              <div class="info-box-number">5</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box info-box-general">
            <span class="info-box-icon info-box-icon-general"
              ><i class="fa fa-street-view"></i>
            </span>
            <div class="info-box-content">
              <span>Total des personnes en ligne actuellement </span>
              <div class="info-box-number">1</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box info-box-general">
            <span class="info-box-icon info-box-icon-general"
              ><i class="fa fa-envelope"></i>
            </span>
            <div class="info-box-content">
              <span>Total des messages</span>
              <div class="info-box-number">0</div>
            </div>
          </div>
        </div>
      </div>

      <hr />
      <h2>Statistiques des utilisateurs</h2>
      <hr />

      <div class="row tile_count">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box info-box-user">
            <span class="info-box-icon info-box-icon-user"
              ><i class="fa fa-venus"></i>
            </span>
            <div class="info-box-content">
              <span>Total des membres feminin</span>
              <div class="info-box-number">5</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box info-box-user">
            <span class="info-box-icon info-box-icon-user"
              ><i class="fa fa-mars"></i>
            </span>
            <div class="info-box-content">
              <span>Total des membres masculin</span>
              <div class="info-box-number">1</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box info-box-user">
            <span class="info-box-icon info-box-icon-user"
              ><i class="fa fa-transgender"></i>
            </span>
            <div class="info-box-content">
              <span>Total des membres transexuelle</span>
              <div class="info-box-number">3</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box info-box-user">
            <span class="info-box-icon info-box-icon-user"
              ><i class="fa fa-robot"></i>
            </span>
            <div class="info-box-content">
              <span>Total des membres robot</span>
              <div class="info-box-number">0</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box info-box-user">
            <span class="info-box-icon info-box-icon-user"
              ><img class="iconSpecial" src="../../../../../../assets/images/admin/transfor.svg">
              
            </span>
            <div class="info-box-content">
              <span>Total des membres transformers</span>
              <div class="info-box-number">1</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box info-box-user">
            <span class="info-box-icon info-box-icon-user"
              ><i class="fa-solid fa-transgender"></i>
            </span>
            <div class="info-box-content">
              <span>Total des memnbres transgores</span>
              <div class="info-box-number">0</div>
            </div>
          </div>
        </div>
      </div>

      <hr />
      <h2>Statistiques des annonces</h2>
      <hr />

      <div class="row tile_count">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box info-box-forum">
            <span class="info-box-icon info-box-icon-forum"
              ><i class="fa fa-comments"></i>
            </span>
            <div class="info-box-content">
              <span>Total des annonces</span>
              <div class="info-box-number">3</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box info-box-forum">
            <span class="info-box-icon info-box-icon-forum"
              ><i class="fa fa-comment"></i>
            </span>
            <div class="info-box-content">
              <span>Total des commentaires</span>
              <div class="info-box-number">5</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box info-box-forum">
            <span class="info-box-icon info-box-icon-forum"
              ><i class="fa fa-inbox"></i>
            </span>
            <div class="info-box-content">
              <span>Nombres de pratiques</span>
              <div class="info-box-number">4</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box info-box-forum">
            <span class="info-box-icon info-box-icon-forum"
              ><i class="fa fa-comments-o"></i>
            </span>
            <div class="info-box-content">
              <span>Total des annonces aujourd'hui</span>
              <div class="info-box-number">0</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box info-box-forum">
            <span class="info-box-icon info-box-icon-forum"
              ><i class="fa fa-comment-o"></i>
            </span>
            <div class="info-box-content">
              <span>Total des commentaires aujourd'hui</span>
              <div class="info-box-number">0</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box info-box-forum">
            <span class="info-box-icon info-box-icon-forum"
              ><i class="fa fa-newspaper-o"></i>
            </span>
            <div class="info-box-content">
              <span>Nombres de forum</span>
              <div class="info-box-number">23</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="content-footer"></section>
</div>
