.container {
  display: flex;
  justify-content: center;
  .login-component {
    justify-content: center;
    padding: 30px;
    border-radius: 20px;
    margin: 40px;
    border: 1px solid #e0e0e0;
    width: 800px;
    input {
      width: 100%;
      display: block;
      padding:10px;
      border-radius:10px;
      border:1px solid #cecece;
      margin-bottom:15px;
    }
    .error {
      color: red;
    }
  }
}

h2.header-form{
  background-color: #ff004c;
  padding:10px; color:white;
  border-radius: 10px;
}