header{
  transition: all 0.3s ease-in-out;
  position:fixed;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  top:0;
  width:100%;
  z-index:999;
  padding:20px 50px;  
  justify-content: center;
  .header-inside{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    text-transform: uppercase;
  }
  &.scrolled{
    transition: all 0.3s ease-in-out;
    justify-content: center;
    padding:0px 50px; 
    background-color: #ff004c;
    .header-inside{
      display: flex;
      max-width: 100%;
      margin:0 auto;
      justify-content: space-between;
      .nav-link a{
        color: #8c8c8c;
      }
    }
  }
  
}