header{
  transition: all 0.3s ease-in-out;
  position:fixed;
  background-color: #ffffff50;
  top:0;
  width:100%;
  z-index:999;
  padding:20px 50px;  
  justify-content: center;
  .header-inside{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    text-transform: uppercase;
  }
  &.scrolled{
    transition: all 0.3s ease-in-out;
    justify-content: center;
    padding:0px 50px; 
    .header-inside{
      display: flex;
      max-width: 100%;
      margin:0 auto;
      justify-content: space-between;
    }
  }
  
}