<div class="home-container">
  <div class="slider-container">
    <app-carousel></app-carousel>
  </div>
  <div class="mega-black-title">
    <i class="fa-solid fa-mars sex"></i> Bienvenue dans l'antre du plaisir
    <i class="fa-solid fa-venus sex"></i>
  </div>
  <div class="home-content">
    <div class="flex-box">
      <div class="flex-left">
        <h1>
          Avec nous, c'est <span class="red-color">satisfait</span> ou
          <span class="red-color">rembourré</span> !
        </h1>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod
        orci nec erat tempor, sit amet cursus lacus commodo. Nullam egestas
        dignissim vulputate. Sed et ligula eget metus venenatis sodales ac
        varius nibh. In commodo elit pulvinar lacus porta, aliquam ullamcorper
        dui molestie. Integer malesuada velit sit amet sagittis semper.
        Vestibulum blandit mi sit amet sapien gravida venenatis. Mauris
        scelerisque auctor urna. Cras eget dictum justo. Pellentesque ut quam in
        quam varius vestibulum egestas pulvinar dolor. Proin sit amet eros nec
        tellus vestibulum suscipit. Sed lacinia venenatis mollis. Integer nec
        purus eget massa tempor scelerisque. Pellentesque varius sem at urna
        efficitur, id suscipit ligula imperdiet. Cras congue faucibus lobortis.
        Suspendisse quis eleifend urna, a finibus lorem. Morbi consectetur nibh
        ut mauris ultricies, et lobortis erat rhoncus. Cras a faucibus velit.
        Aenean id ex sem. Donec posuere, lorem commodo viverra mollis, lacus
        velit blandit justo, sollicitudin sodales urna nunc eget diam. Proin
        efficitur tortor urna, in finibus risus suscipit et. Duis pharetra ante
        at nisl sodales congue. Aenean scelerisque eu lorem eget rutrum.
        Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Pellentesque habitant morbi tristique senectus
        et netus et malesuada fames ac turpis egestas. Pellentesque fermentum
        placerat iaculis. Sed aliquet dictum egestas. In in neque ligula. Nulla
        congue, dolor at semper convallis, nulla urna luctus ante, at cursus leo
        diam et nibh. Etiam eleifend pellentesque est sed mattis. Donec eu felis
        eget metus malesuada molestie at in ligula. In lacinia, velit eget
        suscipit tincidunt, mi libero sodales mi, sagittis dapibus justo ipsum
        at ligula. Vivamus ligula eros, faucibus sit amet metus et, sollicitudin
        suscipit sem. Cras nec velit erat. In molestie dictum enim, vel dictum
        ipsum consectetur ut. Fusce quis hendrerit nibh. Vestibulum luctus arcu
        sit amet erat scelerisque bibendum. Nunc sit amet pellentesque velit,
        nec bibendum lorem. Quisque tincidunt gravida purus a blandit. Nunc
        porttitor sit amet magna sed mattis. Cras urna metus, interdum et
        imperdiet nec, dapibus quis magna. Curabitur at luctus erat. Donec eget
        ante et leo mollis consectetur. In ut sem pharetra, lobortis metus quis,
        condimentum lacus. Mauris vehicula purus sed arcu efficitur auctor.
        Proin efficitur nulla sapien, sed aliquam est pulvinar vitae. Nam a
        tellus laoreet, posuere risus in, posuere sapien.
      </div>
      <div class="flex-right">
        Sponsors<br />ou<br />quoi<br />que<br />ce<br />soit<br />ici
      </div>
    </div>
  </div>
</div>
