body{
  font-family: "Playfair Display", serif;

.home-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  display: block;
  .mega-black-title {
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    background-color: #1b1b1b;
    .sex {
      color: #ff004c;
      font-size: 30px;
      font-weight: bold;
      padding: 30px;
    }
  }
  .home-content {
    max-width: 1280px;
    min-width: 980px;
    margin: 50px auto;
    display: block;
    .red-color {
      color: #ff004c;
    }

    .flex-box {
      display: flex;
      align-items: flex-start;
    }

    .flex-left {
      flex: 2 1 auto;
      width: 60%;
    }

    .flex-right {
      flex: 2 1 auto;
      background-color: #ff004c;
      text-align: center;
      margin-left: 30px;
      height: 100%;
      border-radius: 20px;
      color: white;
      padding: 30px;
      margin-top: 63px;
    }
  }
}
}

.intro{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(../../../assets/images/contact/escortagence.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.intro h2 {
  margin-top: 15px;
  font-size: 32px;
  background-color:rgb(237, 102, 102, 0.8);
  color: white;
  border-radius: 4px;
  padding: 3px;
}

.intro h3 {
  font-size: 28px;
  background-color:rgb(237, 102, 102, 0.8);
  color: white;
  border-radius: 4px;
  padding: 3px;
  margin-top: 10px;
}

.intro p {
  font-size: 20px;
  font-weight: 500;
  width: 850px;
  color: white;
  background-color: rgb(237, 102, 102, 0.8);
  border-radius: 5px;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.sponsor {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-right {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.flex-right img {
  max-width: 80%;
  height: auto;
}

.pushBottom {
  margin-bottom: 25px;
}
