<app-header-home>
  
</app-header-home>

<div class="slider-container">
  <app-carousel></app-carousel>
</div>
<div class="mega-black-title">
  <i class="fa-solid fa-mars sex"></i> Bienvenue dans l'antre du plaisir
  <i class="fa-solid fa-venus sex"></i>    
</div>
<div class="catchTxt">
  <h1>
    Avec nous, c'est <span class="red-color">satisfait</span> ou
    <span class="red-color">rembourré</span> !
  </h1>
</div>
<div class="home-content">
  <div class="intro">        
    <h2>
      Plateforme d'Annonces pour Services d'Escort
    </h2>
    <h3>
      Introduction :  
    </h3>
    <p>
      Nous sommes fiers de présenter notre projet de plateforme d'annonces pour services d'escort, conçu et développé par notre équipe de cinq développeurs dans le cadre de notre formation backend. Notre objectif était de créer une application web complète et fonctionnelle permettant aux utilisateurs de découvrir des services d'escort en toute simplicité.
    </p> 
    <h3>
      Fonctionnalités Principales :  
    </h3>
    <p>
      Recherche Avancée : Notre plateforme offre une fonction de recherche avancée permettant aux utilisateurs de filtrer les annonces en fonction de leurs préférences, telles que la localisation, les services proposés, et les tarifs.
      Profils Complets : Chaque escort dispose d'un profil détaillé présentant ses informations personnelles, ses photos, ainsi que ses disponibilités et ses tarifs.  
    </p>
    <h3>
      Technologies Utilisées :  
    </h3>
    <p>
      Frontend : Angular et TypeScript ont été utilisés pour créer une interface utilisateur dynamique et réactive, offrant une expérience utilisateur fluide.
      <br>
      <br>
      Backend : Nous avons opté pour AdonisJS, un framework Node.js, pour développer notre backend, avec une base de données PostgreSQL pour stocker les données des utilisateurs et des annonces.
      Sécurité : La sécurité des données et des transactions est une priorité pour nous. Nous avons mis en place des mesures de sécurité robustes, notamment la gestion des sessions et des autorisations, ainsi que le cryptage des données sensibles.
    </p>
    <h3>
      Conclusion :  
    </h3>
    <p>
      En résumé, notre projet de plateforme d'annonces pour services d'escort représente l'aboutissement de deux semaines de travail acharné de la part de notre équipe. Nous sommes convaincus que notre application offre une solution complète et sécurisée pour les utilisateurs en quête de services d'escort de qualité. Nous sommes impatients de présenter en détail notre travail au jury et de répondre à toutes leurs questions.  
    </p> 
  </div>
</div>
<div class="sponsor">
  <h3>
    Sponsors:
  </h3>
</div>
<div class="flex-right">
  <img src="../../../assets/images/contact/capdagde.png" alt="capdagde">
  <img src="../../../assets/images/contact/mi-noi.png" alt="minoi">
  <img src="../../../assets/images/contact/Pornhub-logo.png" alt="pornhub">
  <img src="../../../assets/images/contact/XVideos_logo.png" alt="xvideos">
  <img src="../../../assets/images/contact/salonEro.png" alt="xvideos">
  <img src="../../../assets/images/contact/sextoy.jpg" alt="xvideos">
  <img src="../../../assets/images/contact/sextoy2.jpg" alt="xvideos">
  <img src="../../../assets/images/contact/club-libertin-LILLE.jpg" alt="xvideos">
</div>
<br class="pushBottom">
    
 

