<app-quick-search></app-quick-search>
<div class="announces-container">
  <div class="announce-block" routerLink="/about">
    <img
      src="../../../assets/images/profile1/1.png"
      alt=""
      class="profile-img"
    />
    <h2>Samantha - 23 ans</h2>
    <div class="private-escort">
      <span class="private">Privé</span>
      <span class="escort">Escorte</span>
    </div>
    <span class="locality"
      ><span class="icon"><i class="fa-solid fa-location-dot"></i></span>
      Bruxelles</span
    >
  </div>

  <div class="announce-block">
    <img
      src="../../../assets/images/profile1/2.png"
      alt=""
      class="profile-img"
    />
    <h2>Audrey - 27 ans</h2>
    <div class="private-escort">
      <span class="private">Privé</span>
    </div>
    <span class="locality"
      ><span class="icon"><i class="fa-solid fa-location-dot"></i></span>
      Tournai</span
    >
  </div>

  <div class="announce-block" routerLink="/about">
    <img
      src="../../../assets/images/profile1/1.png"
      alt=""
      class="profile-img"
    />
    <h2>Samantha - 23 ans</h2>
    <div class="private-escort">
      <span class="private">Privé</span>
      <span class="escort">Escorte</span>
    </div>
    <span class="locality"
      ><span class="icon"><i class="fa-solid fa-location-dot"></i></span>
      Bruxelles</span
    >
  </div>

  <div class="announce-block">
    <img
      src="../../../assets/images/profile1/2.png"
      alt=""
      class="profile-img"
    />
    <h2>Audrey - 27 ans</h2>
    <div class="private-escort">
      <span class="private">Privé</span>
    </div>
    <span class="locality"
      ><span class="icon"><i class="fa-solid fa-location-dot"></i></span>
      Tournai</span
    >
  </div>

  <div class="announce-block" routerLink="/about">
    <img
      src="../../../assets/images/profile1/1.png"
      alt=""
      class="profile-img"
    />
    <h2>Samantha - 23 ans</h2>
    <div class="private-escort">
      <span class="private">Privé</span>
      <span class="escort">Escorte</span>
    </div>
    <span class="locality"
      ><span class="icon"><i class="fa-solid fa-location-dot"></i></span>
      Bruxelles</span
    >
  </div>

  <div class="announce-block">
    <img
      src="../../../assets/images/profile1/2.png"
      alt=""
      class="profile-img"
    />
    <h2>Audrey - 27 ans</h2>
    <div class="private-escort">
      <span class="private">Privé</span>
    </div>
    <span class="locality"
      ><span class="icon"><i class="fa-solid fa-location-dot"></i></span>
      Tournai</span
    >
  </div>

  <div class="announce-block" routerLink="/about">
    <img
      src="../../../assets/images/profile1/1.png"
      alt=""
      class="profile-img"
    />
    <h2>Samantha - 23 ans</h2>
    <div class="private-escort">
      <span class="private">Privé</span>
      <span class="escort">Escorte</span>
    </div>
    <span class="locality"
      ><span class="icon"><i class="fa-solid fa-location-dot"></i></span>
      Bruxelles</span
    >
  </div>

  <div class="announce-block">
    <img
      src="../../../assets/images/profile1/2.png"
      alt=""
      class="profile-img"
    />
    <h2>Audrey - 27 ans</h2>
    <div class="private-escort">
      <span class="private">Privé</span>
    </div>
    <span class="locality"
      ><span class="icon"><i class="fa-solid fa-location-dot"></i></span>
      Tournai</span
    >
  </div>

  <div class="announce-block" routerLink="/about">
    <img
      src="../../../assets/images/profile1/1.png"
      alt=""
      class="profile-img"
    />
    <h2>Samantha - 23 ans</h2>
    <div class="private-escort">
      <span class="private">Privé</span>
      <span class="escort">Escorte</span>
    </div>
    <span class="locality"
      ><span class="icon"><i class="fa-solid fa-location-dot"></i></span>
      Bruxelles</span
    >
  </div>

  <div class="announce-block">
    <img
      src="../../../assets/images/profile1/2.png"
      alt=""
      class="profile-img"
    />
    <h2>Audrey - 27 ans</h2>
    <div class="private-escort">
      <span class="private">Privé</span>
    </div>
    <span class="locality"
      ><span class="icon"><i class="fa-solid fa-location-dot"></i></span>
      Tournai</span
    >
  </div>

  <div class="announce-block" routerLink="/about">
    <img
      src="../../../assets/images/profile1/1.png"
      alt=""
      class="profile-img"
    />
    <h2>Samantha - 23 ans</h2>
    <div class="private-escort">
      <span class="private">Privé</span>
      <span class="escort">Escorte</span>
    </div>
    <span class="locality"
      ><span class="icon"><i class="fa-solid fa-location-dot"></i></span>
      Bruxelles</span
    >
  </div>

  <div class="announce-block">
    <img
      src="../../../assets/images/profile1/2.png"
      alt=""
      class="profile-img"
    />
    <h2>Audrey - 27 ans</h2>
    <div class="private-escort">
      <span class="private">Privé</span>
    </div>
    <span class="locality"
      ><span class="icon"><i class="fa-solid fa-location-dot"></i></span>
      Tournai</span
    >
  </div>

  <div class="announce-block" routerLink="/about">
    <img
      src="../../../assets/images/profile1/1.png"
      alt=""
      class="profile-img"
    />
    <h2>Samantha - 23 ans</h2>
    <div class="private-escort">
      <span class="private">Privé</span>
      <span class="escort">Escorte</span>
    </div>
    <span class="locality"
      ><span class="icon"><i class="fa-solid fa-location-dot"></i></span>
      Bruxelles</span
    >
  </div>

  <div class="announce-block">
    <img
      src="../../../assets/images/profile1/2.png"
      alt=""
      class="profile-img"
    />
    <h2>Audrey - 27 ans</h2>
    <div class="private-escort">
      <span class="private">Privé</span>
    </div>
    <span class="locality"
      ><span class="icon"><i class="fa-solid fa-location-dot"></i></span>
      Tournai</span
    >
  </div>

  <div class="announce-block" routerLink="/about">
    <img
      src="../../../assets/images/profile1/1.png"
      alt=""
      class="profile-img"
    />
    <h2>Samantha - 23 ans</h2>
    <div class="private-escort">
      <span class="private">Privé</span>
      <span class="escort">Escorte</span>
    </div>
    <span class="locality"
      ><span class="icon"><i class="fa-solid fa-location-dot"></i></span>
      Bruxelles</span
    >
  </div>

  <div class="announce-block">
    <img
      src="../../../assets/images/profile1/2.png"
      alt=""
      class="profile-img"
    />
    <h2>Audrey - 27 ans</h2>
    <div class="private-escort">
      <span class="private">Privé</span>
    </div>
    <span class="locality"
      ><span class="icon"><i class="fa-solid fa-location-dot"></i></span>
      Tournai</span
    >
  </div>

  <div class="announce-block" routerLink="/about">
    <img
      src="../../../assets/images/profile1/1.png"
      alt=""
      class="profile-img"
    />
    <h2>Samantha - 23 ans</h2>
    <div class="private-escort">
      <span class="private">Privé</span>
      <span class="escort">Escorte</span>
    </div>
    <span class="locality"
      ><span class="icon"><i class="fa-solid fa-location-dot"></i></span>
      Bruxelles</span
    >
  </div>

  <div class="announce-block">
    <img
      src="../../../assets/images/profile1/2.png"
      alt=""
      class="profile-img"
    />
    <h2>Audrey - 27 ans</h2>
    <div class="private-escort">
      <span class="private">Privé</span>
    </div>
    <span class="locality"
      ><span class="icon"><i class="fa-solid fa-location-dot"></i></span>
      Tournai</span
    >
  </div>
</div>
