
  #quick-search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #1b1b1b;
  color: white;
  padding: 20px;
  .quick-search{
    max-width:1280px;
    display: flex;
    justify-content: space-between;
  }
  .suggestions-block{
    .suggestions-link{
      cursor: pointer;
    }
  }
}



.announces-container {
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  min-width: 980px;
  .announce-block {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    margin: 0 10px 20px;
    width: 14%;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
      background-color: #ddd;
      border: 1px solid #fff;
      transition: all 0.3s ease-in-out;
    }
    img {
      width: 100%;
      height: 180px;
    }
    h2 {
      margin: 5px 0 0 0;
      padding: 0;
      font-size: 15px;
    }
    .private-escort {
      display: block;
      display: flex;
      justify-content: center;
      font-size: 14px;
      margin-top: 7px;
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);

      .private {
        background-color: orange;
        color: white;
        padding: 0px 10px;
        border-radius: 5px;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
      }
      .escort {
        background-color: darkorchid;
        color: white;
        padding: 0px 10px;
        border-radius: 5px;
        margin-left: 10px;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
      }
    }
    .locality {
      margin-top: 0px;
      display: block;
      font-size: 15px;
      .icon {
        color: #ff004c;
      }
    }
  }
}
