<app-header>
  
</app-header>

<div class="bg-red">
  <div id="quick-search-container">
  
  <div class="quick-search">
  <label for="genre">Genre:</label>
  <select name="genre" id="genre" [(ngModel)]="selectedGenre">
    <option value="">Tous les genres</option>
    @for(genre of genres; track genre){
      <option value="{{ genre }}">{{ genre }}</option>
    }
   
  </select>
  <label for="city">Ville:</label>
  <input name="city" id="city" type="text" [(ngModel)]="selectedCity" (input)="filterCity($event)">
  <div class="suggestions-block">
    @for(city of citySuggestions; track city){
      <span (click)="selectCity(city)" class="suggestions-link">{{ city }}</span>
    }
  </div>
  <label for="privateEscort">Je préfère: </label>
  <select name="privateEscort" id="privateEscort" [(ngModel)]="selectedEscortOrPrivate">
    <option value="">Peu importe</option>
    <option value="escort">Recevoir chez moi</option>
    <option value="private">Me déplacer</option>
  </select>

  <button (click)="filterResults()">Filtrer</button>

</div>
</div>
</div>


<div class="announces-container">

    @for(user of filteredResults; track user){
      <div class="announce-block" (click)="goToDetails(user.id)">
        <img src="../../../assets/images/profile1/{{ user.id }}.png" alt="" class="profile-img" />
        <h2>{{ user.firstname }} {{ user.lastname }}</h2>
        <div class="private-escort">
          @if(user.announce && user.announce.private){
          <span class="private" >Privé</span>
          }
          @if(user.announce && user.announce.escort){
          <span class="escort" >Escorte</span>
          }
        </div>
        <div class="locality">
          <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
          {{ user.address?.city }}
        </div>
        <div class="announce-details">
          <span class="announce-title">{{ user.announce?.title }}</span>
          
        </div>
      </div>
    }

</div>