<div class="content">
    <section id="main" class="content-body">
        <table class="table datagrid">
            <thead>
                <tr>
                    <th class="sorted  integer ">
                        <a href="/admin/?entity=Config&amp;action=list&amp;menuIndex=0&amp;submenuIndex=1&amp;sortField=id&amp;sortDirection=ASC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DConfig%2526action%253Dlist%2526menuIndex%253D0%2526submenuIndex%253D1%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1">
                            ID <i class="fa fa-fw fa-arrow-down"></i>
                        </a>
                    </th>
                    <th class="  string ">
                        <a href="/admin/?entity=Config&amp;action=list&amp;menuIndex=0&amp;submenuIndex=1&amp;sortField=nom&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DConfig%2526action%253Dlist%2526menuIndex%253D0%2526submenuIndex%253D1%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1">
                            Nom <i class="fa fa-fw fa-sort"></i>
                        </a>
                    </th>
                    <th class="  string ">
                        <a href="/admin/?entity=Config&amp;action=list&amp;menuIndex=0&amp;submenuIndex=1&amp;sortField=valeur&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DConfig%2526action%253Dlist%2526menuIndex%253D0%2526submenuIndex%253D1%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1">
                            Valeur <i class="fa fa-fw fa-sort"></i>
                        </a>
                    </th>
                    <th>
                        <span class="sr-only">Actions</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr data-id="3">
                    <td class="sorted integer ">
                        3
                    </td>
                    <td class=" string ">
                        <span title="Logo navbar">Logo navbar</span>
                    </td>
                    <td class=" string ">
                        <span class="badge badge-secondary">Aucun(e)</span>
                    </td>
                    <td class="actions">      
                        <a class=" btn btn-primary action-edit" title="" href="/admin/?entity=Config&amp;action=edit&amp;menuIndex=0&amp;submenuIndex=1&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DConfig%2526action%253Dlist%2526menuIndex%253D0%2526submenuIndex%253D1%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=3" target="_self"><i class="fa fa-fw fa-edit"></i> </a>
                    </td>
                </tr>
                <tr data-id="2">
                    <td class="sorted integer ">
                        2
                    </td>
                    <td class=" string ">
                        <span title="URL du site">URL du site</span>
                    </td>
                    <td class=" string ">
                        <span title="https://forum.lmoury.com/">https://forum.lmoury.com/</span>
                    </td>
                    <td class="actions">        
                        <a class=" btn btn-primary action-edit" title="" href="/admin/?entity=Config&amp;action=edit&amp;menuIndex=0&amp;submenuIndex=1&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DConfig%2526action%253Dlist%2526menuIndex%253D0%2526submenuIndex%253D1%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=2" target="_self"><i class="fa fa-fw fa-edit"></i> </a>
                    </td>
                </tr>
                <tr data-id="1">
                    <td class="sorted integer ">
                        1
                    </td>
                    <td class=" string ">
                        <span title="titre du site">titre du site</span>
                    </td>
                    <td class=" string ">
                        <span class="badge badge-secondary">Aucun(e)</span>
                    </td>
                    <td class="actions">   
                        <a class=" btn btn-primary action-edit" title="" href="/admin/?entity=Config&amp;action=edit&amp;menuIndex=0&amp;submenuIndex=1&amp;sortField=id&amp;sortDirection=DESC&amp;page=1&amp;referer=%252Fadmin%252F%253Fentity%253DConfig%2526action%253Dlist%2526menuIndex%253D0%2526submenuIndex%253D1%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&amp;id=1" target="_self"><i class="fa fa-fw fa-edit"></i> </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>