<div class="content">
  <section id="main" class="content-body">
    <table class="table datagrid">
      <thead>
        <tr>
          <th class="sorted integer">
            ID <i class="fa fa-fw fa-arrow-down"></i>
          </th>
          <th class="string">Nom <i class="fa fa-fw fa-sort"></i></th>
          <th class="string">Valeur <i class="fa fa-fw fa-sort"></i></th>
          <th>
            <!-- <span class="sr-only">Actions</span> -->
            <span class="string">Actions</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr data-id="3">
          <td class="sorted integer">3</td>
          <td class="string">
            <span title="Logo navbar">Logo navbar</span>
          </td>
          <td class="string">
            <span class="badge badge-secondary">Aucun(e)</span>
          </td>
          <td class="actions">
            <a class="btn btn-primary action-edit" title=""
              ><i class="fa fa-fw fa-edit"></i
            ></a>
          </td>
        </tr>
        <tr data-id="2">
          <td class="sorted integer">2</td>
          <td class="string">
            <span title="URL du site">URL du site</span>
          </td>
          <td class="string">
            <span title="">https://comix.com/</span>
          </td>
          <td class="actions">
            <a class="btn btn-primary action-edit" title=""
              ><i class="fa fa-fw fa-edit"></i
            ></a>
          </td>
        </tr>
        <tr data-id="1">
          <td class="sorted integer">1</td>
          <td class="string">
            <span title="titre du site">titre du site</span>
          </td>
          <td class="string">
            <span class="string">ComiX</span>
          </td>
          <td class="actions">
            <a class="btn btn-primary action-edit" title=""
              ><i class="fa fa-fw fa-edit"></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
